<div class="row grid-margin">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Quản lý loại sản phẩm</h4>
        <div
          id="js-grid-typeproducts"
          class="pt-3 jsgrid"
          style="position: relative; height: 516px; width: 100%;"
        >
          <div class="jsgrid-grid-header jsgrid-header-scrollbar">
            <table class="jsgrid-table">
              <div id="dialog-form" title="Details" style="display:none">
                <form id="categoryForm">
                  <p>
                    <label class="col-sm-4 p-0 m-0">Tên:</label>
                    <input id="name" class="col-sm-8 p-0 m-0" />
                  </p>
                </form>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
