<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lý hệ thống gian hàng</h4>
                <div id="js-grid-products" class="pt-3 jsgrid" style="position: relative; height: 516px; width: 100%;">
                    <!-- <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                        <table class="jsgrid-table">
                            <tr class="jsgrid-header-row">
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 120px;">A sản phẩm
                                </th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Id sản phẩm
                                </th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Giá</th>
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
                                    style="width: 120px;">Loại sản phẩm</th>
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
                                    style="width: 120px;">Chiếc khấu</th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Link hình</th>
                                <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center"
                                    style="width: 50px;"><input
                                        class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button" type="button"
                                        title="Switch to inserting"></th>
                            </tr>
                            <tr class="jsgrid-filter-row">
                                <td class="jsgrid-cell" style="width: 140px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 140px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 100px;"><input type="number"></td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 140px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">Loại sản phẩm 1</option>
                                        <option value="2">Loại sản phẩm 2</option>
                                        <option value="1">Loại sản phẩm 3</option>
                                        <option value="2">Loại sản phẩm 4</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 140px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">5% hoặc hơn</option>
                                        <option value="1">10% hoặc hơn</option>
                                        <option value="1">20% hoặc hơn</option>
                                        <option value="1">30% hoặc hơn</option>
                                        <option value="1">50% hoặc hơn</option>
                                        <option value="1">60% hoặc hơn</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell" style="width: 100px;"><input type="text"></td>
                                <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                    <input class="jsgrid-button jsgrid-search-button" type="button"
                                        title="Search"><input class="jsgrid-button jsgrid-clear-filter-button"
                                        type="button" title="Clear filter"></td>
                            </tr>
                            <tr class="jsgrid-insert-row" style="display: none;">
                                <td class="jsgrid-cell" style="width: 140px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 140px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 100px;"><input type="number"></td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 140px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">Loại sản phẩm 1</option>
                                        <option value="2">Loại sản phẩm 2</option>
                                        <option value="1">Loại sản phẩm 3</option>
                                        <option value="2">Loại sản phẩm 4</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 140px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">Loại sản phẩm 1</option>
                                        <option value="2">Loại sản phẩm 2</option>
                                        <option value="1">Loại sản phẩm 3</option>
                                        <option value="2">Loại sản phẩm 4</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell" style="width: 100px;"><input type="text"></td>
                                </td>
                                <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                    <input class="jsgrid-button jsgrid-insert-button" type="button" title="Insert"></td>
                            </tr>
                        </table>
                    </div> -->
                    <!-- <div class="jsgrid-grid-body" style="height: 301.625px;">
                        <table class="jsgrid-table">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="jsgrid-pager-container">
                        <div class="jsgrid-pager">Pages: <span
                                class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a
                                    href="javascript:void(0);">First</a></span> <span
                                class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a
                                    href="javascript:void(0);">Prev</a></span> <span
                                class="jsgrid-pager-page jsgrid-pager-current-page">1</span><span
                                class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span
                                class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span
                                class="jsgrid-pager-page"><a href="javascript:void(0);">4</a></span><span
                                class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span><span
                                class="jsgrid-pager-nav-button"><a href="javascript:void(0);">...</a></span> <span
                                class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Next</a></span> <span
                                class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Last</a></span>
                            &nbsp;&nbsp; 1 of 7 </div>
                    </div>
                    <div class="jsgrid-load-shader"
                        style="display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000;">
                    </div>
                    <div class="jsgrid-load-panel"
                        style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    <div id="dialog-form" title="Details">
        <form id="categoryForm">
            <p><label>code_cat: <input id="code_cat" /></label></p>
            <p><label>descr_fra: <input id="descr_fra" /></label></p>
            <p><label>descr_eng: <input id="descr_eng" /></label></p>
            <p><label>descr_deu: <input id="descr_deu" /></label></p>
        </form>
    </div>
    <div class="col-lg-12 grid-margin stretch-card justify-content-center add-padding-top-20px">
        <div class="card">
            <div class="custom-card-header card-header ">
                <div class="row">
                    <div class="col-sm-8 text-left">
                        <h2 class="card-title">Số lượng sản phẩm mỗi loại</h2>
                    </div>
                </div>
            </div>
            <div class="card-body custom-card-body">
                <div class="chartjs-size-monitor"
                    style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand"
                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink"
                        style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                    </div>
                </div>
                <canvas id="barChartTypeProduct" width="1000" height="250" class="chartjs-render-monitor"
                    style="display: block; width: 457px; height: 228px;"></canvas>
            </div>
        </div>
    </div>
</div>