<div class="row grid-margin">
    <div class="col-12">
        <div id="jsGrid"></div>
        <div id="dialog-form" title="Details">
            <form id="categoryForm">
                <p><label>code_cat: <input id="code_cat" /></label></p>
                <p><label>descr_fra: <input id="descr_fra" /></label></p>
                <p><label>descr_eng: <input id="descr_eng" /></label></p>
                <p><label>descr_deu: <input id="descr_deu" /></label></p>
            </form>
        </div>
    </div>
</div>