<!DOCTYPE html>
<html lang="en">
	<head>
		<% include elements/head %>
	</head>
	<body>
		<div class="container-scroller">
			<% include elements/navbar_header %>
			<%-body%>
		</div>
		
	</body>
</html>