<!DOCTYPE html>
<html lang="en">
	<head>
		<% include elements/head %>
	</head>
	<body>
		<div class="container-scroller">
			<% include elements/navbar_header %>
			<!-- partial -->
			<!-- theme setting -->
			<% include elements/theme_setting %>
			<!-- right sidebar -->
			<% include elements/right_sidebar %>
			<!-- sidebar -->
			<% include elements/sidebar %>
			<div class="main-panel">
					<div class="content-wrapper">
							<div class="row">
								<div class="col-md-12">
									<!-- main -->
									<%-body%>
								</div>
							</div>
						</div>
						<!-- content-wrapper ends -->
						<% include elements/footer %>
			<!-- partial -->
					<!-- main-panel ends -->
					</div>
				<!-- page-body-wrapper ends -->
				</div>
			<!-- container-scroller -->
		<% include elements/scripts %>
		</div>
		
	</body>
</html>