<!-- partial:partials/_navbar.html -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between"
  >
    <a class="navbar-brand brand-logo" href="/dashboard"
      ><img src="../images/logo.svg" alt="logo"
    /></a>

    <button
      class="navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
  >
  <div class="d-flex justify-content-end mr-2">
    <button
      type="button"
      class="btn btn-outline-primary btn-fw mr-2"
      onclick="window.location.href='/logout'"
    >
      Đăng xuất
    </button>
    
  </div>
</nav>
