<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Quản lý người dùng</h4>
                <div id="js-grid-user" class="pt-3 jsgrid" style="position: relative; height: 516px; width: 100%;">
                    <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                        <table class="jsgrid-table">
                            <tr class="jsgrid-header-row">
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 180px;">Họ và tên</th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 180px;">Gmail</th>
                                <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 150px;">Số điện thoại</th>
                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 100px;">Giới tính</th>
                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 50px;">Tuổi</th>
                                <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;"><input class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button" type="button" title="Switch to inserting"></th>
                            </tr>
                            <tr class="jsgrid-filter-row">
                                <td class="jsgrid-cell" style="width: 180px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 180px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 150px;"><input type="text"></td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;"><input type="number"></td>
                                <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;"><input class="jsgrid-button jsgrid-search-button" type="button" title="Search"><input class="jsgrid-button jsgrid-clear-filter-button" type="button" title="Clear filter"></td>
                            </tr>
                            <tr class="jsgrid-insert-row" style="display: none;">
                                <td class="jsgrid-cell" style="width: 180px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 180px;"><input type="text"></td>
                                <td class="jsgrid-cell" style="width: 150px;"><input type="text"></td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
                                    <select>
                                        <option value="0"></option>
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                </td>
                                <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;"><input type="number"></td>
                                <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;"><input class="jsgrid-button jsgrid-insert-button" type="button" title="Insert"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="jsgrid-grid-body" style="height: 301.625px;">
                        <table class="jsgrid-table">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="jsgrid-pager-container">
                        <div class="jsgrid-pager">Pages: <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">First</a></span> <span class="jsgrid-pager-nav-button jsgrid-pager-nav-inactive-button"><a href="javascript:void(0);">Prev</a></span> <span class="jsgrid-pager-page jsgrid-pager-current-page">1</span><span class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">4</a></span><span class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span><span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">...</a></span> <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Next</a></span> <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">Last</a></span> &nbsp;&nbsp; 1 of 7 </div>
                    </div>
                    <div class="jsgrid-load-shader" style="display: none; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000;"></div>
                    <div class="jsgrid-load-panel" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please, wait...</div>
                </div>
            </div>
        </div>
    </div>
</div>