<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../elements/head %>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-stretch auth auth-img-bg"
        >
          <div class="row flex-grow">
            <div
              class="col-lg-6 d-flex align-items-center justify-content-center"
            >
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <img src="../../../../images/logo-dark.svg" alt="logo" />
                </div>
                <% if (message.length > 0) { %>
                <div class="alert alert-danger" style="margin-top: 30px">
                  <%= message %>
                </div>
                <% } %>
                <form action="/change-password" method="POST" class="pt-1">
                  <div class="form-group">
                    <label id="label-pass">Mật khẩu<span>*</span></label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        name="password"
                        type="password"
                        class="form-control form-control-lg border-left-0"
                        id="password"
                        placeholder="Mật khẩu"
                        required
                      />
                      <div class="valid-password invalid-feedback">
                        Bạn nhập mật khẩu chưa đúng!!.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="label-repass"
                      >Nhập mật khẩu mới<span>*</span></label
                    >
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-lg border-left-0"
                        name="newpassword"
                        id="newpassword"
                        placeholder="Nhập mật khẩu mới"
                        required
                        onkeyup="checknewpassword(this.value)"
                      />
                      <div class="valid-newpassword-8 invalid-feedback">
                        Vui lòng nhập mật khẩu lớn hơn hoặc 8 ký tự.
                      </div>
                      <div class="valid-newpassword-char invalid-feedback">
                        Vui lòng nhập mật khẩu có chứa kí tự.
                      </div>
                      <div class="valid-newpassword-number invalid-feedback">
                        Vui lòng nhập mật khẩu có chứa số.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label id="label-repass"
                      >Nhập lại mật khẩu<span>*</span></label
                    >
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-lg border-left-0"
                        name="repassword"
                        id="repassword"
                        placeholder="Nhập lại mật khẩu"
                        required
                        onkeyup="checkrepassword(this.value)"
                      />
                      <div class="valid-repassword invalid-feedback">
                        Hai mật khẩu không trùng nhau.
                      </div>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button
                      class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                      id="btn-sign-up"
                      type="submit"
                      onclick="checkInputPassword()"
                    >
                      Xác nhận
                    </button>
                  </div>
                </form>
                <script>
                  function checkInputPassword() {
                    const pass = document.getElementById("password").value;
                    $.ajax({
                      url: "/users/checkpassword?pass=" + pass,
                      type: "get",
                      contentType: "application/json; charset=utf-8",
                      dataType: "json"
                    })
                      .done(function(check) {
                        if (!check.check) {
                          console.log("check", check.check);
                          document.getElementsByClassName(
                            "valid-password"
                          )[0].style.display = "block";
                          document.getElementById("password").focus();
                        } else {
                          document.getElementsByClassName(
                            "valid-password"
                          )[0].style.display = "none";
                        }
                      })
                      .fail(function(err) {});
                  }

                  function checknewpassword(pass) {
                    if (pass.length < 8) {
                      document.getElementsByClassName(
                        "valid-newpassword-8 "
                      )[0].style.display = "block";
                      document.getElementsByClassName(
                        "valid-newpassword-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-number"
                      )[0].style.display = "none";
                    } else if (pass.search(/[a-zA-Z]/i) < 0) {
                      document.getElementsByClassName(
                        "valid-newpassword-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-char "
                      )[0].style.display = "block";
                      document.getElementsByClassName(
                        " valid-newpassword-number "
                      )[0].style.display = "none";
                    } else if (pass.search(/[0-9]/) < 0) {
                      document.getElementsByClassName(
                        "valid-newpassword-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-number"
                      )[0].style.display = "block";
                    } else {
                      document.getElementsByClassName(
                        "valid-newpassword-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-newpassword-number"
                      )[0].style.display = "none";
                    }
                  }
                  function checkrepassword(repass) {
                    const pass = document.getElementById("newpassword").value;
                    if (repass === null || repass !== pass) {
                      document.getElementsByClassName(
                        "valid-repassword"
                      )[0].style.display = "block";
                    } else {
                      document.getElementsByClassName(
                        "valid-repassword"
                      )[0].style.display = "none";
                      document.getElementById("btn-sign-up").disabled = false;
                    }
                  }
                </script>
              </div>
            </div>
            <div class="col-lg-6 login-half-bg d-flex flex-row"></div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <% include ../../elements/scripts %>
  </body>
</html>
