<div class="row">
  <div class="col-md-12">
    <div class="row ">
      <div class="col-sm-6 offset-md-6">
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
          <label class="btn btn-sm btn-outline-primary active" id="1">
            <input type="radio" name="options" checked="">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Ngày</span>
          </label>
          <label class="btn btn-sm btn-outline-primary btn-simple" id="2">
            <input type="radio" class="d-none d-sm-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Tuần & Tháng</span>
          </label>
          <label class="btn btn-sm btn-outline-primary btn-simple" id="3">
            <input type="radio" class="d-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Quý & Năm</span>
          </label>
        </div>
      </div>
    </div>
    <div class="none-padding col-lg-12 grid-margin stretch-card justify-content-center" id="row-day">
      <div class="card">
        <div class="custom-card-header card-header ">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Danh số bán hàng</h5>
              <h2 class="card-title">Theo ngày</h2>
            </div>
            <div class="col-sm-2 offset-md-4">
              <div class="well">
                <div class="input-append date" id="dpDay" data-date="04/2013" data-date-format="mm/yyyy">
                  <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                  <input class="span2 cus_span2" size="14" type="text" value="04/2013">
                </div>
              </div>
            </div>
            <script>
             
             $('#dpDay').datepicker(
                  {
                    viewMode: 'months',
                    format: 'mm/yyyy'
                  }
                );
                $('#dpDay').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'months') {
                    $('#dpDay').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
            </script>
          </div>
        </div>
        <div class="card-body custom-card-body">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas id="barChartDay" width="1000" height="400" class="chartjs-render-monitor"
            style="display: block; width: 457px; height: 228px;"></canvas>
        </div>
      </div>
    </div>
    <div class="row" id="row-week-month">
      <div class="col-lg-4 grid-margin stretch-card justify-content-center">
        <div class="card">
          <div class="custom-card-header card-header ">
            <div class="row">
              <div class="col-sm-7 text-left">
                <h5 class="card-category">Danh số bán hàng</h5>
                <h2 class="card-title">Theo Tuần</h2>
              </div>
              <div class="col-sm-5 p-0 m-0">
                <div class="well">
                  <div class="input-append date" id="dpWeek" data-date="04/2013" data-date-format="mm/yyyy">
                    <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                    <input class="span2 cus_span2" size="14" type="text" value="04/2013">
                  </div>
                </div>
              </div>
              <script>
                $('#dpWeek').datepicker(
                  {
                    viewMode: 'months',
                    format: 'mm/yyyy'
                  }
                );

                $('#dpWeek').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'months') {
                    $('#dpWeek').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
              </script>
            </div>
          </div>
          <div class="card-body custom-card-body">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="barChartWeek" width="380" height="360" class="chartjs-render-monitor"
              style="display: block; width: 288px; height: 288px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-8 grid-margin stretch-card justify-content-center">
        <div class="card">
          <div class="custom-card-header card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Danh số bán hàng</h5>
                <h2 class="card-title">Theo tháng</h2>
              </div>
              <div class="col-sm-2 offset-md-3">
                <div class="well">
                  <div class="input-append date" id="dpMonth" data-date=" 2013" data-date-format=" yyyy">
                    <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                    <input class="span2 cus_span2" size="14" type="text" value="2013">
                  </div>
                </div>
              </div>
              <script>
                $('#dpMonth').datepicker(
                  {
                    viewMode: 'years',
                    format: ' yyyy'
                  }
                );

                $('#dpMonth').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'years') {
                    $('#dpMonth').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
              </script>
            </div>
          </div>
          <div class="card-body custom-card-body">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="barChartMonth" width="1000" height="400" class="chartjs-render-monitor"
              style="display: block; width: 457px; height: 228px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="row-quarter-year">
      <div class="col-lg-4 grid-margin stretch-card justify-content-center">
        <div class="card">
          <div class="custom-card-header card-header ">
            <div class="row">
              <div class="col-sm-7 text-left">
                <h5 class="card-category">Danh số bán hàng</h5>
                <h2 class="card-title">Theo Quý</h2>
              </div>
              <div class="col-sm-3 offset-md-1 p-0 m-0">
                <div class="well">
                  <div class="input-append date" id="dpQuarter" data-date=" 2013" data-date-format=" yyyy">
                    <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                    <input class="span2 cus_span2" size="14" type="text" value="2013">
                  </div>
                </div>
              </div>
              <script>
                $('#dpQuarter').datepicker(
                  {
                    viewMode: 'years',
                    format: ' yyyy'
                  }
                );
               
                $('#dpQuarter').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'years') {
                    $('#dpQuarter').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
              </script>
            </div>
          </div>
          <div class="card-body custom-card-body">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="barChartQuarter" width="380" height="360" class="chartjs-render-monitor"
              style="display: block; width: 288px; height: 288px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-8 grid-margin stretch-card justify-content-center">
        <div class="card">
          <div class="custom-card-header card-header ">
            <div class="row">
              <div class="col-sm-5 text-left">
                <h5 class="card-category">Danh số bán hàng</h5>
                <h2 class="card-title">Theo Năm</h2>
              </div>
              <div class="col-sm-3">
                <div class="well">
                  <div class="input-append date" id="dpYearStart" data-date=" 2010" data-date-format=" yyyy">
                      <h6>Từ: </h6>
                    <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                    <input class="span2 cus_span2" size="14" type="text" value="2010">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="well">
                  <div class="input-append date" id="dpYearEnd" data-date=" 2019" data-date-format=" yyyy">
                      <h6>Đến: </h6>
                    <span class="add-on"><i class="mdi mdi-calendar-text"></i></span>
                    <input class="span2 cus_span2" size="14" type="text" value="2019">
                  </div>
                </div>
              </div>
              <script>
                $('#dpYearStart').datepicker(
                  {
                    viewMode: 'years',
                    format: ' yyyy'
                  }
                );
                
                $('#dpYearStart').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'years') {
                    $('#dpYearStart').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
                $('#dpYearEnd').datepicker(
                  {
                    viewMode: 'years',
                    format: ' yyyy'
                  }
                );
            
                $('#dpYearEnd').on('changeDate', function (ev) {
                  //close when viewMode='0' (days)

                  if (ev.viewMode === 'years') {
                    $('#dpYearEnd').datepicker('hide');
                    $("div.datepicker.dropdown-menu").css({display: 'none',});
                  }
                });
              </script>
            </div>
          </div>
          <div class="card-body custom-card-body">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <canvas id="barChartYear" width="1000" height="400" class="chartjs-render-monitor"
              style="display: block; width: 457px; height: 228px;"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card justify-content-center">
      <div class="card">
        <div class="custom-card-header card-header ">
          <div class="row">
            <div class="col-sm-8 text-left">
              <h5 class="card-category">Số lượng sản phẩm</h5>
              <h2 class="card-title">Top 10</h2>
            </div>
            

       
          </div>
        </div>
        <div class="card-body custom-card-body">
          <div class="chartjs-size-monitor"
            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
              style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <canvas id="barChartTop" width="1000" height="400" class="chartjs-render-monitor"
            style="display: block; width: 457px; height: 228px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>