<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../elements/head %>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-stretch auth auth-img-bg"
        >
          <div class="row flex-grow">
            <div
              class="col-lg-6 d-flex align-items-center justify-content-center"
            >
              <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
              <% } %>
              <div class="auth-form-transparent text-left p-3">
                <div class="brand-logo">
                  <img src="../../../../images/logo-dark.svg" alt="logo" />
                </div>
                <form action="/" method="POST" class="pt-1">
                  <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-account-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="email"
                        class="form-control form-control-lg border-left-0 type-text"
                        id="email"
                        name="email"
                        placeholder="Email"
                        required
                        onkeyup="checkEmail(this.value)"
                      />
                      <div class="valid-email invalid-feedback">
                        Bạn nhập email chưa đúng!!.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword">Mật khẩu</label>
                    <div class="input-group">
                      <div class="input-group-prepend bg-transparent">
                        <span
                          class="input-group-text bg-transparent border-right-0"
                        >
                          <i class="mdi mdi-lock-outline text-primary"></i>
                        </span>
                      </div>
                      <input
                        type="password"
                        class="form-control form-control-lg border-left-0"
                        id="password"
                        name="password"
                        placeholder="Mật khẩu"
                        required
                        onkeyup="checkInputPassword(this.value)"
                        disabled
                      />
                      <div class="valid-password invalid-feedback">
                        Bạn nhập mật khẩu chưa đúng!!.
                      </div>
                    </div>
                  </div>
                  <div
                    class="my-2 d-flex align-items-center"
                    style="justify-content: flex-end"
                  >
                    <a href="/forgot-password" class="auth-link text-black"
                      >Quên mật khẩu?</a
                    >
                  </div>
                  <div class="my-3">
                    <div>
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg btn-block"
                        id="login"
                        disabled
                      >
                        Đăng nhập
                      </button>
                    </div>
                  </div>

                  <div class="text-center mt-4 font-weight-light">
                    Bạn không có tài khoản?
                    <a href="/register" class="text-primary">Tạo tài khoản</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 login-half-bg d-flex flex-row"></div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <% include ../../elements/scripts %>
    <script>
      function checkEmail(email) {
        $.ajax({
          url: "/users/check-email-login?email=" + email,
          type: "get",
          contentType: "application/json; charset=utf-8",
          dataType: "json"
        })
          .done(function(check) {
            if (!check.check) {
              console.log("check", check.check);
              document.getElementsByClassName("valid-email")[0].style.display =
                "block";
              document.getElementById("email").focus();
            } else {
              document.getElementsByClassName("valid-email")[0].style.display =
                "none";
              document.getElementById("password").disabled = false;
            }
          })
          .fail(function(err) {});
      }

      function checkInputPassword(pass) {
        const email = document.getElementById("email").value;
        $.ajax({
          url: "/users/check-pass-login?pass=" + pass + "&email=" + email,
          type: "get",
          contentType: "application/json; charset=utf-8",
          dataType: "json"
        })
          .done(function(check) {
            console.log("tems", check);
            if (!check.check) {
              console.log("check", check.check);
              document.getElementsByClassName(
                "valid-password"
              )[0].style.display = "block";
              document.getElementById("password").focus();
            } else {
              document.getElementsByClassName(
                "valid-password"
              )[0].style.display = "none";
              document.getElementById("login").disabled = false;
            }
          })
          .fail(function(err) {});
      }
    </script>
  </body>
</html>
