<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../elements/head %>
  </head>
  <body>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
      <div class="row flex-grow">
        <div class="col-lg-6 d-flex align-items-center justify-content-center ">
          <div class="auth-form-transparent text-left p-3">
              <% if (!isSuccess) { %>
                <div id="alert" class="alert alert-danger" role="alert">
                  <%= message %>
                </div>
                <% } %>
            <form action="/register" method="POST" class="pt-3 needs-validation" novalidate">
              <div class="form-group">
                <label>Tên đăng nhập<span>*</span></label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-account-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-lg border-left-0 type-text"
                    placeholder="Tên đăng nhập" id="name" name="name" required
                    onkeyup="checkUsername(this.value)" />
                  <div class="valid-username invalid-feedback">
                    Bạn vui lòng nhập tên đăng nhập!
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail">Email*</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span
                        class="input-group-text bg-transparent border-right-0"
                      >
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input
                      type="email"
                      class="form-control form-control-lg border-left-0 type-text"
                      id="email"
                      name="email"
                      placeholder="Email"
                      required
                      onkeyup="checkEmail(this.value)"
                    />
                    <div class="valid-email invalid-feedback">
                      Email đã tồn tại, bạn vui lòng nhập email khác!!.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label id="label-repass"
                    >Mật khẩu<span>*</span></label
                  >
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span
                        class="input-group-text bg-transparent border-right-0"
                      >
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control form-control-lg border-left-0"
                      name="password"
                      id="password"
                      placeholder="Mật khẩu"
                      required
                      onkeyup="checkpassword(this.value)" onblur="checkpassword(this.value)"
                    />
                    <div class="valid-password-8 invalid-feedback">
                      Vui lòng nhập mật khẩu lớn hơn hoặc 8 ký tự.
                    </div>
                    <div class="valid-password-char invalid-feedback">
                      Vui lòng nhập mật khẩu có chứa kí tự.
                    </div>
                    <div class="valid-password-number invalid-feedback">
                      Vui lòng nhập mật khẩu có chứa số.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label id="label-repass"
                    >Nhập lại mật khẩu<span>*</span></label
                  >
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span
                        class="input-group-text bg-transparent border-right-0"
                      >
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control form-control-lg border-left-0"
                      name="repassword"
                      id="repassword"
                      placeholder="Nhập lại mật khẩu"
                      required
                      onkeyup="checkrepassword(this.value)"
                    />
                    <div class="valid-repassword invalid-feedback">
                      Hai mật khẩu không trùng nhau.
                    </div>
                  </div>
                </div>
              <div class="mt-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="btn-sign-up"
                  type="submit" disabled>
                  Đăng ký
                </button>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Bạn đã có tài khoản?
                <a href="/" class="text-primary">Đăng nhập</a>
              </div>

            </form>
            <script>
              function checkUsername(name){
                if(name.length <= 0){
                  document.getElementsByClassName("valid-username")[0].style.display = "block";
                }else{
                  document.getElementsByClassName("valid-username")[0].style.display = "none";
                }
              }
              function checkEmail(email) {
        $.ajax({
          url: "/users/check-email-login?email=" + email,
          type: "get",
          contentType: "application/json; charset=utf-8",
          dataType: "json"
        })
          .done(function(check) {
            if (check.check) {
              console.log("check", check.check);
              document.getElementsByClassName("valid-email")[0].style.display =
                "block";
              document.getElementById("email").focus();
            } else {
              document.getElementsByClassName("valid-email")[0].style.display =
                "none";
            }
          })
          .fail(function(err) {});
      }
                  function checkpassword(pass) {
                    if (pass.length < 8) {
                      document.getElementsByClassName(
                        "valid-password-8 "
                      )[0].style.display = "block";
                      document.getElementsByClassName(
                        "valid-password-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-number"
                      )[0].style.display = "none";
                    } else if (pass.search(/[a-zA-Z]/i) < 0) {
                      document.getElementsByClassName(
                        "valid-password-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-char "
                      )[0].style.display = "block";
                      document.getElementsByClassName(
                        " valid-password-number "
                      )[0].style.display = "none";
                    } else if (pass.search(/[0-9]/) < 0) {
                      document.getElementsByClassName(
                        "valid-password-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-number"
                      )[0].style.display = "block";
                    } else {
                      document.getElementsByClassName(
                        "valid-password-8 "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-char "
                      )[0].style.display = "none";
                      document.getElementsByClassName(
                        "valid-password-number"
                      )[0].style.display = "none";
                      document.getElementById("repassword").disabled = false;
                    }
                  }
            
                  function checkrepassword(repass) {
                    const pass = document.getElementById("password").value;
                    if (repass === null || repass !== pass) {
                      document.getElementsByClassName(
                        "valid-repassword"
                      )[0].style.display = "block";
                    } else {
                      document.getElementsByClassName(
                        "valid-repassword"
                      )[0].style.display = "none";
                      document.getElementById("btn-sign-up").disabled = false;
                    }
                  }
            </script>
          </div>
        </div>
        <div class="col-lg-6 register-half-bg d-flex flex-row">
          <!-- <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p> -->
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<% include ../../elements/scripts %>
</body>
</html>