<div class="row grid-margin">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Quản lý hệ thống gian hàng</h4>
        <div id="loading" class="modal"></div>
        <div
          id="js-grid-products"
          class="pt-3 jsgrid"
          style="position: relative; height: 516px; width: 100%;"
        >
          <div class="jsgrid-grid-header jsgrid-header-scrollbar">
            <table class="jsgrid-table">
              <div
                id="dialog-form"
                title="Details"
                style="display:none; position:center;"
              >
                <form id="categoryForm" class="needs-validation" novalidate>
                  <div class="form-row">
                    <div class="col-sm-6">
                      <p>
                        <label class="col-sm-4 p-0 m-0">Tên:</label>
                        <input id="name" class="col-sm-8 p-0 m-0" required />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">ID: </label>
                        <input id="_id" class="col-sm-8 p-0 m-0" />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">Giá:</label>
                        <input
                          type="number"
                          id="price"
                          class="col-sm-8 p-0 m-0"
                          required
                        />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0" required
                          >Chiếc khấu:
                        </label>
                        <input
                          type="number"
                          id="discount"
                          class="col-sm-8 p-0 m-0"
                        />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0" required
                          >Kích thước:
                        </label>
                        <input id="size" class="col-sm-8 p-0 m-0" />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0" required
                          >Màu sắc:
                        </label>
                        <input id="color" class="col-sm-8 p-0 m-0" />
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <p>
                        <label class="col-sm-4 p-0 m-0">Loại: </label>
                        <select id="type" class="col-sm-8 p-0 m-0"></select>
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">Nhà sản xuất: </label>
                        <select id="producer" class="col-sm-8 p-0 m-0"></select>
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">Xuất xứ: </label>
                        <select id="origin" class="col-sm-8 p-0 m-0"></select>
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">Mô tả:</label>
                        <input id="decription" class="col-sm-8 p-0 m-0" />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0">Link hình: </label>
                        <input id="imgs" class="col-sm-8 p-0 m-0" />
                      </p>
                      <p>
                        <label class="col-sm-4 p-0 m-0"></label>
                        <input type="button"
                        id="btnChooseFile"
                          class="btn btn-outline-primary"
                          value="Chọn ảnh"
                          onclick="document.getElementById('filesToUpload').click();"
                        >
                         
                        </button>
                        <input
                          name="filesToUpload[]"
                          id="filesToUpload"
                          type="file"
                          multiple=""
                          onchange="Uploadfile()"
                          style="display: none"
                          accept=".png, .jpg, .jpeg, .gif"
                        />
                        <img src="" id="output">
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-lg-12 grid-margin stretch-card justify-content-center add-padding-top-20px pt-5"
  >
    <div class="card">
      <div class="custom-card-header card-header ">
        <div class="row">
          <div class="col-sm-8 text-left">
            <h2 class="card-title">Số lượng sản phẩm mỗi loại</h2>
          </div>
        </div>
      </div>
      <div class="card-body custom-card-body">
        <div
          class="chartjs-size-monitor"
          style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
        >
          <div
            class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"
            ></div>
          </div>
          <div
            class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"
          >
            <div
              style="position:absolute;width:200%;height:200%;left:0; top:0"
            ></div>
          </div>
        </div>
        <canvas
          id="barChartTypeProduct"
          width="1000"
          height="250"
          class="chartjs-render-monitor"
          style="display: block; width: 457px; height: 228px;"
        ></canvas>
      </div>
    </div>
  </div>
</div>
<script>
  function Uploadfile() {
    const input = document.getElementById("filesToUpload");
    if(input.files.length > 5){
      alert("Bạn chỉ được chọn tốt đa 5 ảnh, xin mời bạn chọn lại");
    }
    else{
   
    let imgs = document.getElementById("imgs");
    const apiUrl = "https://api.imgur.com/3/image";
    const token = "4262f0ea0613e5e6565050b4c5b7775c78d3722d";
    let settings = {
      async: false,
      crossDomain: true,
      processData: false,
      contentType: false,
      type: "POST",
      url: apiUrl,
      headers: {
        Authorization: "Bearer " + token,
        Accept: "application/json"
      },
      mimeType: "multipart/form-data"
    };
    let formData = new FormData();
    for (let x = 0; x < input.files.length; x++) {
      formData.append("image", imgfile);
      settings.data = formData;
      $.ajax(settings)
        .done(
          res => (imgs.value = imgs.value + ", " + JSON.parse(res).data.link)
        )
        .fail(err => console.log("err", err));
    }
  }
  }
 </script>
