<div class="card">
    <div class="card-body">
        <h4 class="card-title">Bảng đơn đặt hàng</h4>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>ID Hóa đơn</th>
                                <th>Thời gian mua</th>
                                <th>ID Khách hàng</th>
                                <th>Địa điểm</th>
                                <th>Tổng tiền (VND)</th>
                                <th>Tình trạng</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>1778648998</td>
                                <td>Hà Nội</td>
                                <td>320000</td>
                                <td>
                                    <label class="badge badge-warning">Bị hoãn</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2015/04/01</td>
                                <td>1011208998</td>
                                <td>Hà Tĩnh</td>
                                <td>750000</td>
                                <td>
                                    <label class="badge badge-danger">Bị hủy</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2010/11/21</td>
                                <td>1018798998</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-success">Thành công</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>2016/01/12</td>
                                <td>1015415998</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-success">Thành công</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>2017/12/28</td>
                                <td>1015420998</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-success">Thành công</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2000/10/30</td>
                                <td>1015641198</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-warning">Bị hoãn</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>2011/03/11</td>
                                <td>1089648998</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-success">Thành công</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>2015/06/25</td>
                                <td>1074648998</td>
                                <td>Đà Nẵng</td>
                                <td>210000</td>
                                <td>
                                    <label class="badge badge-warning">Bị hoãn</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>2016/11/12</td>
                                <td>1015998998</td>
                                <td>Hồ Chí Minh</td>
                                <td>630000</td>
                                <td>
                                    <label class="badge badge-success">Thành công</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>2003/12/26</td>
                                <td>1015785498</td>
                                <td>Đà Nẵng</td>
                                <td>230000</td>
                                <td>
                                    <label class="badge badge-danger">Bị hủy</label>
                                </td>
                                <td>
                                    <button class="btn btn-outline-primary">Xem</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>