<div class="row">
    <div class="col-md-12">
        <div class="page-header-tab mt-xl-4 custom-mt-xl-4">
            <div class="col-12 pl-0 pr-0">
              <div class="row ">
                <div class="col-12 col-sm-6 mb-xs-4  pt-2 pb-2 mb-xl-0">
                  <ul class="nav nav-tabs tab-transparent" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="day-tab" data-toggle="tab" href="#" role="tab" aria-controls="overview" aria-selected="true">Ngày</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="week-month-tab" data-toggle="tab" href="#" role="tab" aria-controls="users" aria-selected="false">Tuần & Tháng</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="quarter-year-tab" data-toggle="tab" href="#" role="tab" aria-controls="returns" aria-selected="false">Quý & Năm</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <div class="none-padding col-lg-12 grid-margin stretch-card justify-content-center">
            <div class="card">
                <div class="custom-card-header card-header ">
                    <div class="row">
                      <div class="col-sm-4 text-left">
                        <h5 class="card-category">Danh số bán hàng</h5>
                        <h2 class="card-title">Theo ngày</h2>
                      </div>
                    </div>
                </div>
              <div class="card-body custom-card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <canvas id="barChartDay" width="1000" height="400" class="chartjs-render-monitor" style="display: block; width: 457px; height: 228px;"></canvas>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 grid-margin stretch-card justify-content-center">
                <div class="card">
                    <div class="custom-card-header card-header ">
                        <div class="row">
                          <div class="col-sm-8 text-left">
                            <h5 class="card-category">Danh số bán hàng</h5>
                            <h2 class="card-title">Theo Tuần</h2>
                          </div>       
                        </div>
                    </div>
                  <div class="card-body custom-card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="barChartWeek" width="380" height="360" class="chartjs-render-monitor" style="display: block; width: 288px; height: 288px;"></canvas>
                  </div>
                </div>
            </div>
            <div class="col-lg-8 grid-margin stretch-card justify-content-center">
                <div class="card">
                    <div class="custom-card-header card-header ">
                        <div class="row">
                          <div class="col-sm-8 text-left">
                            <h5 class="card-category">Danh số bán hàng</h5>
                            <h2 class="card-title">Theo tháng</h2>
                          </div>       
                        </div>
                    </div>
                  <div class="card-body custom-card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="barChartMonth" width="1000" height="400" class="chartjs-render-monitor" style="display: block; width: 457px; height: 228px;"></canvas>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 grid-margin stretch-card justify-content-center">
                <div class="card">
                    <div class="custom-card-header card-header ">
                        <div class="row">
                          <div class="col-sm-8 text-left">
                            <h5 class="card-category">Danh số bán hàng</h5>
                            <h2 class="card-title">Theo Quý</h2>
                          </div>       
                        </div>
                    </div>
                  <div class="card-body custom-card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="barChartQuarter" width="380" height="360" class="chartjs-render-monitor" style="display: block; width: 288px; height: 288px;"></canvas>
                  </div>
                </div>
            </div>
            <div class="col-lg-8 grid-margin stretch-card justify-content-center">
                <div class="card">
                    <div class="custom-card-header card-header ">
                        <div class="row">
                          <div class="col-sm-8 text-left">
                            <h5 class="card-category">Danh số bán hàng</h5>
                            <h2 class="card-title">Theo Năm</h2>
                          </div>       
                        </div>
                    </div>
                  <div class="card-body custom-card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="barChartYear" width="1000" height="400" class="chartjs-render-monitor" style="display: block; width: 457px; height: 228px;"></canvas>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

