<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>HiliteUI Admin</title>
<!-- base:css -->
<link rel="stylesheet" href="../../admin/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="../../admin/vendors/flag-icon-css/css/flag-icon.min.css">
<!-- endinject -->

<!-- plugin css for page user -->
<link rel="stylesheet" href="../../admin/vendors/jsgrid/jsgrid.min.css">
<link rel="stylesheet" href="../../admin/vendors/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" href="../../admin/vendors/jsgridform/jquery-ui.css">
<link rel="stylesheet" href="../../admin/vendors/jsgridform/jsgrid.min.css">
<link rel="stylesheet" href="../../admin/vendors/jsgridform/jsgrid-theme.min.css">
<link rel="stylesheet" href="../../admin/vendors/jsgridform/custom-js-grid-form.css">
<!-- End plugin css for page user -->

<!-- plugin css for page order -->
<link rel="stylesheet" href="../../admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<!-- End plugin css for page order -->


<!-- inject:css -->
<link rel="stylesheet" href="../../admin/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="../../admin/images/favicon.png" />
<!-- Custom -->
<link rel="stylesheet" href="../../admin/css/custom/custom.css">
<link rel="stylesheet" href="../../admin/css/custom/datepicker.css">
<link rel="stylesheet" href="../../admin/css/custom/datepicker_custom.css">


<script src="../../admin/js/jquery.js"></script>
<script src="../../admin/js/bootstrap-datepicker.js"></script>