.none-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.custom-card-header {
    padding: 0.75rem 2.5rem 0rem 2.5rem;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0px solid #e7eaed;
}
.card .custom-card-body {
    padding: 0.875rem 1.875rem 1.875rem 1.875rem ;
}
.custom-mt-xl-4 {
    margin-top: 0rem !important;
}
