.none-padding {
  padding-right: 0px;
  padding-left: 0px;
}
.none-padding-right {
  padding-right: 0px;
}
.custom-card-header {
  padding: 0.75rem 2.5rem 0rem 2.5rem;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 0px solid #e7eaed;
}
.card .custom-card-body {
  padding: 0.875rem 1.875rem 1.875rem 1.875rem;
}
.custom-mt-xl-4 {
  margin-top: 0rem !important;
}
#row-week-month {
  display: none;
}
#row-quarter-year {
  display: none;
}
h6 {
  padding-top: 8px;
  padding-right: 10px;
}

.modal-content .cus-modal-header {
  padding: 20px 20px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }
}
.cus-p {
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 0px;
}
.margin-top-20px {
  margin-top: 20px;
  margin-bottom: 10px;
}
.p {
  font-weight: initial;
}

.modal {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/FhHRx.gif")
    50% 50% no-repeat;
}

.loading .modal {
  overflow: hidden;
}

.loading .modal {
  display: block;
}
.type-text {
  height: auto !important;
  box-shadow: none;
}
.type-text:focus {
  box-shadow: none !important;
}
.type-text-detail {
  border: 1px solid #f6f2f2;
  font-weight: 400;
  font-size: 0.875rem;
  height: auto;
  padding: 0.875rem 0.875rem;
}
.auth-form-transparent {
  width: 65% !important;
}
.cus-auth-form-btn {
  line-height: 0.5 !important;
}

.card
  [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}
.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(6, 33, 185, 0.4);
}
.card.bg-primary,
.card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-primary .back,
.card.card-rotate.bg-primary .front {
  background: linear-gradient(60deg, #25378b, #1a2763);
}
.card [class*="card-header-"] {
  margin: 0 15px;
  padding: 0;
  position: relative;
}
.card .card-header {
  z-index: 3 !important;
}
.card .card-header {
  border-bottom: none;
  background: transparent;
}
[class*="card-header-"],
.card [class*="card-header-"] .card-title,
.card [class*="card-header-"] .card-title a,
.card [class*="card-header-"] .icon i {
  color: #fff;
}
.card-profile .card-avatar img {
  width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.card-profile .card-avatar {
  max-width: 130px;
  max-height: 130px;
}
.card-profile .card-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card .card-body .form-group {
  margin: 8px 0 0;
}
.form-group {
  padding-bottom: 10px;
  position: relative;
  margin: 8px 0 0;
}
.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.card-profile .card-avatar + .card-body {
  margin-top: 15px;
}
.card .card-body {
  padding: 0.9375rem 20px;
  position: relative;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(6, 33, 185, 0.4),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(6, 33, 185, 0.4);
}
.btn.btn-primary.focus,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color: #fff;
  background-color: #25378b;
  border-color: #25378b;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn.btn-round {
  border-radius: 30px;
}
.card-description,
.description,
.footer-big p {
  color: #999;
}
.card-body {
  flex: 1 1 auto;
}
.card-profile {
  margin-top: 30px;
  text-align: center;
}
.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
